@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

h1, h2, h3, h4, h5, h6
	font-family: $headers-font, sans-serif
	text-align: center
	margin: 0

header,
section
	max-width: 720px
	min-width: 720px
	margin: 0 auto

section
	padding-top: 40px

.container
	width: 100%
	max-width: 720px
	min-width: 720px

.h1
	font-size: 74px
	line-height: .75
	margin-top: 40px
	margin-bottom: 50px
	span
		font-family: $default-font
		font-weight: normal
		font-size: 20px
		text-transform: uppercase
		letter-spacing: 1.2px

.h2
	font-size: 60px
	line-height: 0.75
	margin-bottom: 50px
	span
		font-family: $default-font
		font-weight: normal
		font-size: 20px
		letter-spacing: 1.2px
		font-size: 20px

.button
	background-color: $red
	border-radius: 50px
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.75)
	color: #fff
	display: block
	font-size: 28px
	font-weight: 800
	line-height: 1.6
	margin-top: 30px
	padding: 16px 0
	text-align: center
	text-decoration: none
	text-transform: uppercase
	transition: all .2s ease
	&:hover
		background-color: lighten($red, 12%)
		text-decoration: none
		color: #fff
	&:active
		background-color: darken($red, 6%)
		text-decoration: none
		color: #fff
	&:focus
		text-decoration: none
		color: #fff

.lato_regular
	font-weight: normal

.lato_bold
	font-weight: bold

.lato_heavy
	font-weight: 800

.lato_medium
	font-weight: 500

.lato_italic
	font-weight: italic

.lato_black
	font-weight: 900

.icon_blue
	&_img
		display: flex
		border: 1px solid $accent
		border-radius: 50px
		text-align: center
		width: 100px
		height: 100px
		margin: 0 auto
		position: relative
		text-align: center
		margin-bottom: 15px
		&::after
			content: ''
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			background-color: $blue
			border-radius: 50px
			opacity: .5
			z-index: 0
		img
			margin: auto
			position: relative
			z-index: 1
	&_desc
		text-transform: uppercase
		color: $accent
		font-weight: bold
		text-align: center
		line-height: 1.3

.no_glue_icon
	img
		margin-right: 20px

.eye_icon
	img
		margin-left: 24px

.logo
	margin: 0 auto
	width: 100px
	height: 90px
	padding-top: 20px
	background-color: $blue
	border-radius: 0 0 30px 30px
	text-align: center
	img
		width: 46px

.header
	background: $blue url("../img/sections/section1_bg.jpg")
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	max-height: 750px
	h1
		color: #fff

.icons_box
	padding-bottom: 10px

.eyalashes_case
	position: relative
	text-align: center
	margin: 0 auto

	.discount
		background-image: url("../img/sections/discount_bg.png")
		background-position: center
		background-repeat: no-repeat
		color: #fff
		font-size: 36px
		font-weight: 900
		line-height: 0.5
		padding: 38px
		position: absolute
		right: -46px
		top: 98px
		span
			font-size: 14px
			font-weight: bold
			&.percent
				font-size: 22px

.price_section
	background-image: url("../img/sections/button_section_bg.jpg")
	background-repeat: no-repeat
	background-size: cover
	color: #fff
	padding-bottom: 50px

	.price
		font-size: 18px
		line-height: 1.3
		margin-top: -50px
		span
			font-size: 20px

	.old_price
		.price_value
			font-size: 40px
			text-decoration: line-through

	.new_price
		color: $accent
		.price_value
			font-size: 48px
			margin-left: -15px
			font-weight: 900

	.chevrone_wrapper
		text-align: center

.bag_section
	background: #dddde0; /* Old browsers */
	background: linear-gradient(to bottom, #dddde0 0%,#d7d7da 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddde0', endColorstr='#d7d7da',GradientType=0 ); /* IE6-9 */
	overflow: hidden
	&_item
		font-size: 20px
		background-image: url('../img/sections/bag.png')
		background-repeat: no-repeat
		background-position: center
		text-align: center
		margin-bottom: -50px
		padding: 300px 110px 70px
		font-weight: normal

.video_section
	background: $blue url('../img/sections/video_section_bg.jpg')
	background-position: center center
	background-size: cover
	color: #fff
	padding-bottom: 55px

	.video_frame
		border: 1px solid $accent
		background-color: rgba(255,255,255, 0.1)
		padding: 50px

		.play_button
			background-image: url('/img/icons/play_btn_icon.png')
			background-repeat: no-repeat
			background-position: 25px center
			cursor: pointer
			border: 1px solid $accent
			border-radius: 70px
			margin: 0 auto
			width: 70px
			height: 70px
			text-align: center
			transition: all .2s ease
			&:hover
				border-color: #fff
				background-image: url('/img/icons/play_btn_icon_hover.png')

	.video_description
		text-align: center
		font-size: 18px
		p
			padding-top: 40px
			margin: 0
			display: inline-block
			width: 370px


@import "media" // Всегда в конце
